
@{
    ViewData["Title"] = "About";
}
    <section id="content">

            <div id="page-header">
                <h1>
                    О нас
                    <span class="small-bottom-border big"></span><!-- small-bottom-border -->
                </h1>
                <div class="md-margin"></div><!-- space -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="page-header-desc">Таким образом, перспективное планирование требует анализа своевременного выполнения сверхзадачи.</p>
                        </div><!-- End .col-md-8 -->
                    </div><!-- End .row -->
                </div> <!-- End .container -->
            </div><!-- End #page-header -->

            <div class="md-margin2x"></div><!-- space -->

        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
        				
                        <div class="hero-unit">
                            <h2>Добро пожаловать на TexnoMarket!</h2>
                            <p>Убеждённость некоторых оппонентов оказалась чрезвычайно полезной.</p>
                            <span class="small-bottom-border big"></span><!-- small-bottom-border -->
                        </div><!-- End .hero-unit -->
                        <div class="md-margin2x"></div><!-- End .md-margin2x -->
        				

                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6 service-box-container">
                                <div class="services-box">
                                    <div class="service-icon service-icon-responsive"></div>  
                                    <h3>
                                        <a href="#">Отзывчивый дизайн</a>
                                        <span class="small-bottom-border"></span>
                                    </h3>
                                    <p>Являясь всего лишь частью общей картины, акционеры крупнейших компаний, превозмогая сложившуюся непростую экономическую ситуацию, разоблачены.</p>
                                </div><!-- End .services-box -->
                            </div><!-- End .col-md-3 -->
                            <div class="col-md-3 col-sm-3 col-xs-6 service-box-container">
                                <div class="services-box">
                                    <div class="service-icon service-icon-panel"></div>
                                    <h3>
                                        <a href="#">Мощная панель Амина</a>
                                        <span class="small-bottom-border"></span>
                                    </h3>
                                    <p>Прежде всего, сплочённость команды профессионалов говорит о возможностях стандартных подходов.</p>
                                </div><!-- End .services-box -->
                            </div><!-- End .col-md-3 -->
                            <div class="col-md-3 col-sm-3 col-xs-6 service-box-container">
                                <div class="services-box">
                                    <div class="service-icon service-icon-sliders"></div>
                                    <h3>
                                        <a href="#">Потрясающие слайдеры</a>
                                        <span class="small-bottom-border"></span>
                                    </h3>
                                    <p>Банальные, но неопровержимые выводы, а также активно развивающиеся страны третьего мира могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
                                </div><!-- End .services-box -->
                            </div><!-- End .col-md-3 -->
                            <div class="col-md-3 col-sm-3 col-xs-6 service-box-container">
                                <div class="services-box">
                                    <div class="service-icon service-icon-support"></div>
                                    <h3>
                                        <a href="#">Премиум-поддержка</a>
                                        <span class="small-bottom-border"></span>
                                    </h3>
                                    <p>Представители современных социальных резервов в равной степени предоставлены сами себе.</p>
                                </div><!-- End .services-box -->
                            </div><!-- End .col-md-3 -->
                        </div><!-- End .row -->

        				<div class="lg-margin2x"></div><!-- space -->

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <header class="content-title">
                                    <h2 class="title">Кто мы?</h2>
                                    <div class="xss-margin"></div><!-- space -->
                                </header>
                                <p>Каждый из нас понимает очевидную вещь: выбранный нами инновационный путь выявляет срочную потребность стандартных подходов. Прежде всего, базовый вектор развития требует от нас анализа системы массового участия. Современные технологии достигли такого уровня, что базовый вектор развития обеспечивает широкому кругу (специалистов) участие в формировании форм воздействия. Предварительные выводы неутешительны: укрепление и развитие внутренней структуры является качественно новой ступенью направлений прогрессивного развития. Каждый из нас понимает очевидную вещь: экономическая повестка сегодняшнего дня играет важную роль в формировании приоритизации разума над эмоциями.</p>
                                <div class="xs-margin"></div>
                                <p>Также как социально-экономическое развитие, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для своевременного выполнения сверхзадачи. С другой стороны, высокотехнологичная концепция общественного уклада, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для системы массового участия. Банальные, но неопровержимые выводы, а также действия представителей оппозиции разоблачены. Господа, граница обучения кадров предоставляет широкие возможности для кластеризации усилий.</p>
                                <div class="visible-xs md-margin"></div>
                            </div><!-- End .col-md-6 -->
                            
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <header class="content-title">
                                    <h2 class="title">Наши Навыки</h2>
                                    <div class="xss-margin"></div><!-- space -->
                                </header>
                                
                                <div class="progress-container">
                                    <h4>Wordpress</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-width="85">
                                         <span class="progress-text">85%</span>
                                        </div><!-- End .progress-bar -->
                                    </div><!-- End .progress -->
                                </div><!-- End .progress-container -->

                                <div class="progress-container">
                                    <h4>photoshop</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" data-width="73">
                                         <span class="progress-text">73%</span>
                                        </div><!-- End .progress-bar -->
                                    </div><!-- End .progress -->
                                </div><!-- End .progress-container -->

                                <div class="progress-container">
                                    <h4>Html/css</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" data-width="92">
                                         <span class="progress-text">92%</span>
                                        </div><!-- End .progress-bar -->
                                    </div><!-- End .progress -->
                                </div><!-- End .progress-container -->

                                <div class="progress-container">
                                    <h4>Illustrator</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100" data-width="69">
                                         <span class="progress-text">69%</span>
                                        </div><!-- End .progress-bar -->
                                    </div><!-- End .progress -->
                                </div><!-- End .progress-container -->

                                <div class="progress-container">
                                    <h4>Дизайн логотипов</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" data-width="87">
                                         <span class="progress-text">87%</span>
                                        </div><!-- End .progress-bar -->
                                    </div><!-- End .progress -->
                                </div><!-- End .progress-container -->

                            </div><!-- End .col-md-6 -->
                        </div><!-- End.row -->

                        <div class="xlg-margin2x"></div><!-- space -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End.row -->
            </div><!-- End .container -->

            <div id="testimonials-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">                  
                            <h3>
                                Отзывы
                                <span class="small-bottom-border big"></span>
                            </h3>


                            <div class="about-us-testimonials flexslider">
                                <ul class="slides">
                                    <li>
                                        <span class="testimonial-title">Лучший Сервис!</span>
                                        <p>Как принято считать, предприниматели в сети интернет, вне зависимости от их уровня, должны быть ограничены исключительно образом мышления.</p>
                                        <span class="testimonial-owner">
                                            Гаврилова Василиса,
                                        </span><span class="testimonial-date">12.02.2022</span>
                                    </li>

                                    <li>
                                        <span class="testimonial-title">Быстрая Поддержка!</span>
                                        <p>Таким образом, высокое качество позиционных исследований способствует повышению качества дальнейших направлений развития.</p>
                                        <span class="testimonial-owner">
                                            Терентьев Прохор,
                                        </span><span class="testimonial-date">21.02.2022</span>
                                    </li>

                                    <li>
                                        <span class="testimonial-title">Качественный Дизайн!</span>
                                        <p>Как уже неоднократно упомянуто, тщательные исследования конкурентов набирают популярность среди определенных слоев населения, а значит, должны быть призваны к ответу.</p>
                                        <span class="testimonial-owner">
                                            Терентьев Прохор,
                                        </span><span class="testimonial-date">26.02.2022</span>
                                    </li>


                                </ul>
                            </div><!-- End about-us-testimonials -->
                        </div><!-- End .col-md-8 -->
                    </div><!-- End.row -->
                </div><!-- End.container -->
                
            </div><!-- End #testimonials-section -->
            <div class="xlg-margin2x"></div><!-- space -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="team-members-slider-container" class="carousel-wrapper">
                            <header class="content-title">
                                <div class="title-bg">
                                    <h2 class="title">Познакомьтесь с нашей командой</h2>
                                </div><!-- End .title-bg -->
                                <div class="xs-margin"></div><!-- space -->
                            </header>
                                <div class="carousel-controls">
                                    <div id="team-members-slider-prev" class="carousel-btn carousel-btn-prev">
                                    </div><!-- End .carousel-prev -->
                                    <div id="team-members-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                                    </div><!-- End .carousel-next -->
                                </div><!-- End .carousel-controllers -->

                                <div class="team-member-header clearfix">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <figure>
                                                <img src="~/images/team/bryant.jpg" alt="Ильин Владислав" class="img-responsive">
                                            </figure>
                                            <div class="md-margin visible-xs visible-sm"></div><!-- space for small devices -->
                                        </div><!-- End .col-md-4-->

                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <div class="team-member-header-meta">
                                                <div class="team-member-name">Ершов Фрол</div><!-- End .team-member-name -->
                                                <div class="team-member-title">SEO</div><!-- End team-member-title -->

                                                <p>Предварительные выводы неутешительны: реализация намеченных плановых заданий является качественно новой ступенью благоприятных перспектив. Банальные, но неопровержимые выводы, а также независимые государства рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Каждый из нас понимает очевидную вещь: социально-экономическое развитие прекрасно подходит для реализации глубокомысленных рассуждений.</p>
                                                <blockquote><p>Предварительные выводы неутешительны: существующая теория прекрасно подходит для реализации первоочередных требований. Являясь всего лишь частью общей картины, тщательные исследования конкурентов являются только методом политического участия и объединены в целые кластеры себе подобных.</p></blockquote>
                                                <p>Безусловно, сплочённость команды профессионалов однозначно фиксирует необходимость поставленных обществом задач. Разнообразный и богатый опыт говорит нам, что постоянное информационно-пропагандистское обеспечение нашей деятельности, в своём классическом представлении, допускает внедрение вывода текущих активов. Повседневная практика показывает, что внедрение современных методик влечет за собой процесс внедрения и модернизации глубокомысленных рассуждений.</p>

                                                <div class="team-member-extra clearfix">
                                                    <ul class="social-links clearfix pull-left">
                                                        <li class="smaller-social-icons"><a href="#" class="social-icon icon-facebook-sm"></a></li>
                                                        <li class="smaller-social-icons"><a href="#" class="social-icon icon-twitter-sm"></a></li>
                                                        <li class="smaller-social-icons"><a href="#" class="social-icon icon-dribbble-sm"></a></li>
                                                        <li class="smaller-social-icons"><a href="#" class="social-icon icon-email-sm"></a></li>
                                                     </ul>
                                                     <ul class="team-member-contact pull-right">
                                                        <li>ershow_frol@yandex.com</li>
                                                        <li>+7 (948) 444-57-97</li>
                                                     </ul>
                                                </div><!-- End .team-member-extra-->
                                            </div><!-- End .team-member-header-meta -->
                                        </div><!-- End .col-md-8--> 
                                    </div><!-- End .row -->
                                </div><!-- End .team-member-header -->

                                <div class="team-member-content">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-6 team-member">
                                           <figure>
                                            <img src="~/images/team/courtney.jpg" alt="Ершов Фрол">
                                           </figure>
                                           <div class="team-member-name">Ершов Фрол</div><!-- End .team-member-name -->
                                           <div class="team-member-title">Сисадмин</div><!-- End .team-member-title -->
                                        </div><!-- End .col-md-3.team-member -->
                                        <div class="col-md-3 col-sm-3 col-xs-6 team-member">
                                           <figure>
                                            <img src="~/images/team/walter.jpg" alt="Громов Казимир">
                                           </figure>
                                           <div class="team-member-name">Громов Казимир</div><!-- End .team-member-name -->
                                           <div class="team-member-title">Директор компании</div><!-- End .team-member-title -->
                                        </div><!-- End .col-md-3.team-member -->
                                        <div class="col-md-3 col-sm-3 col-xs-6 team-member">
                                           <figure>
                                            <img src="~/images/team/arron.jpg" alt="Мухин Ярослав">
                                           </figure>
                                           <div class="team-member-name">Мухин Ярослав</div><!-- End .team-member-name -->
                                           <div class="team-member-title">Менеджер по продажам</div><!-- End .team-member-title -->
                                        </div><!-- End .col-md-3.team-member -->
                                        <div class="col-md-3 col-sm-3 col-xs-6 team-member">
                                           <figure>
                                            <img src="~/images/team/evan.jpg" alt="Тетерин Аввакуум">
                                           </figure>
                                           <div class="team-member-name">Тетерин Аввакуум</div><!-- End .team-member-name -->
                                           <div class="team-member-title">Руководитель проекта</div><!-- End .team-member-title -->
                                        </div><!-- End .col-md-3.team-member -->

                                        <div class="col-md-3 col-sm-3 col-xs-6 team-member">
                                           <figure>
                                            <img src="~/images/team/susan.jpg" alt="Фокина Береслава">
                                           </figure>
                                           <div class="team-member-name">Фокина Береслава</div><!-- End .team-member-name -->
                                           <div class="team-member-title">Менеджер учетной записи</div><!-- End .team-member-title -->
                                        </div><!-- End .col-md-3.team-member -->

                                        <div class="col-md-3 col-sm-3 col-xs-6 team-member">
                                           <figure>
                                            <img src="~/images/team/jake.jpg" alt="Родионов Велорий">
                                           </figure>
                                           <div class="team-member-name">Родионов Велорий</div><!-- End .team-member-name -->
                                           <div class="team-member-title">Офис-менеджер</div><!-- End .team-member-title -->
                                        </div><!-- End .col-md-3.team-member -->

                                        <div class="col-md-3 col-sm-3 col-xs-6 team-member">
                                           <figure>
                                            <img src="~/images/team/jane.jpg" alt="Емельянова Наталья">
                                           </figure>
                                           <div class="team-member-name">Емельянова Наталья</div><!-- End .team-member-name -->
                                           <div class="team-member-title">PHP-разработчик</div><!-- End .team-member-title -->
                                        </div><!-- End .col-md-3.team-member -->

                                        <div class="col-md-3 col-sm-3 col-xs-6 team-member">
                                           <figure>
                                            <img src="~/images/team/diana.jpg" alt="Цветкова Леся">
                                           </figure>
                                           <div class="team-member-name">Цветкова Леся</div><!-- End .team-member-name -->
                                           <div class="team-member-title">Разработчик JavaScript</div><!-- End .team-member-title -->
                                        </div><!-- End .col-md-3.team-member -->

                                    </div><!-- End .row -->
                                </div><!-- End .team-member-content --> 
                        </div><!-- End #team-members-slider-contaiener -->

                        <div class="md-margin2x"></div><!-- space -->

        				<div id="brand-slider-container" class="carousel-wrapper">
                            <header class="content-title">
                                <div class="title-bg">
                                    <h2 class="title">Производители</h2>
                                </div><!-- End .title-bg -->
                            </header>
                                <div class="carousel-controls">
                                    <div id="brand-slider-prev" class="carousel-btn carousel-btn-prev">
                                    </div><!-- End .carousel-prev -->
                                    <div id="brand-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                                    </div><!-- End .carousel-next -->
                                </div><!-- End .carousel-controllers -->
                                <div class="sm-margin"></div><!-- space -->
                                <div class="row">
                                    <div class="brand-slider owl-carousel">
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 1"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 2"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 3"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 4"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 5"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 6"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 7"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 8"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 9"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 10"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 11"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 12"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 13"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 14"></a>
                                        <a href="#"><img src="~/images/brands/brand-logo.png" alt="Лого 15"></a>
                                    </div><!-- End .brand-slider -->
                                </div><!-- End .row -->
                        </div><!-- End #brand-slider-container -->
        				
        			</div><!-- End .col-md-12 -->
        		</div><!-- End .row -->
			</div><!-- End .container -->
        
        </section><!-- End #content -->

