
@{
    ViewData["Title"] = "Blog";
}
    <section id="content">
        	<div id="breadcrumb-container">
        		<div class="container">
					<ul class="breadcrumb">
						<li><a asp-action="Index">Главная</a></li>
						<li class="active">Блог</li>
					</ul>
        		</div><!-- End .container -->
        	</div><!-- End .breadcrumb-container -->
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
						<header class="content-title">
							<h1 class="title">Блог</h1>
							<p class="title-desc">Не пропустите наши новости. Следите за тенденциями.</p>
						</header>
        				<div class="xs-margin"></div><!-- space -->
        				<div class="row">
        					
        					<div class="col-md-9 col-sm-8 col-xs-12 articles-container">
        						<article class="article">
        							<div class="article-meta-date">
        								<span>15</span>
        								Авг
        							</div><!-- End .article-meta-date -->
        							
        							<figure class="article-media-container">
        								<img src="~/images/blog/post2-large.jpg" alt="blog post">
        							</figure>
        							
        							<h2><a asp-action="Single">Франция намерена исследовать, почему кровь стынет в жилах.</a></h2>
        							
        							<div class="article-meta-container clearfix">
        								<div class="article-meta-more">
        									<a href="#"><span class="separator"><i class="fa fa-user"></i></span>От Администратор</a>
        									<a href="#"><span class="separator"><i class="fa fa-comments "></i></span>3 Комминтария</a>
        									<a href="#"><span class="separator"><i class="fa fa-tag"></i></span>Категории</a>
        								</div><!-- End. pull-left -->
        								
        								<div class="article-meta-view">
        									<a href="#"><span class="separator"><i class="fa fa-eye "></i></span>151</a>
        									<a href="#"><span class="separator"><i class="fa fa-heart"></i></span>87</a>
        								</div><!-- End. pull-right -->
        							</div><!-- End .article-meta-container -->
        							
        							<div class="article-content-container">
        								<p>Таким образом, социально-экономическое развитие выявляет срочную потребность вывода текущих активов. Мы вынуждены отталкиваться от того, что экономическая повестка сегодняшнего дня обеспечивает широкому кругу (специалистов) участие в формировании поэтапного и последовательного развития общества. Вот вам <a asp-action="Single">Читать дальше... </a></p>
        							</div><!-- End .article-content-container -->
        						</article><!-- End .article -->
        						
        						<article class="article">
        							<div class="article-meta-date">
        								<span>11</span>
        								Авг
        							</div><!-- End .article-meta-date -->
        							
        							<figure class="article-media-container">
        								<img src="~/images/blog/post3-large.jpg" alt="blog post">
        							</figure>
        							
        							<h2><a asp-action="Single">Добрая половина выводов сделала своё дело.</a></h2>
        							
        							<div class="article-meta-container clearfix">
        								<div class="article-meta-more">
        									<a href="#"><span class="separator"><i class="fa fa-user"></i></span>От Администратор</a>
        									<a href="#"><span class="separator"><i class="fa fa-comments "></i></span>3 Комминтария</a>
        									<a href="#"><span class="separator"><i class="fa fa-tag"></i></span>Категории</a>
        								</div><!-- End. pull-left -->
        								
        								<div class="article-meta-view">
        									<a href="#"><span class="separator"><i class="fa fa-eye "></i></span>151</a>
        									<a href="#"><span class="separator"><i class="fa fa-heart"></i></span>87</a>
        								</div><!-- End. pull-right -->
        							</div><!-- End .article-meta-container -->
        							
        							<div class="article-content-container">
        								<p>Противоположная точка зрения подразумевает, что тщательные исследования конкурентов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, функционально разнесены на независимые элементы. Картельные сговоры не допускают ситуации, при которой <a asp-action="Single">Читать дальше... </a></p>
        							</div><!-- End .article-content-container -->
        						</article><!-- End .article -->
        						
								<article class="article">
        							<div class="article-meta-date">
        								<span>8</span>
        								Авг
        							</div><!-- End .article-meta-date -->
        							
        							<figure class="article-media-container">
        								<img src="~/images/blog/post1-large.jpg" alt="blog post">
        							</figure>
        							
        							<h2><a asp-action="Single">Внезапно, в провинциях ещё есть чем поживиться.</a></h2>
        							
        							<div class="article-meta-container clearfix">
        								<div class="article-meta-more">
        									<a href="#"><span class="separator"><i class="fa fa-user"></i></span>От Администратор</a>
        									<a href="#"><span class="separator"><i class="fa fa-comments "></i></span>3 Комминтария</a>
        									<a href="#"><span class="separator"><i class="fa fa-tag"></i></span>Категории</a>
        								</div><!-- End. pull-left -->
        								
        								<div class="article-meta-view">
        									<a href="#"><span class="separator"><i class="fa fa-eye "></i></span>151</a>
        									<a href="#"><span class="separator"><i class="fa fa-heart"></i></span>87</a>
        								</div><!-- End. pull-right -->
        							</div><!-- End .article-meta-container -->
        							
        							<div class="article-content-container">
        								<p>Сложно сказать, почему независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, преданы социально-демократической анафеме. Не следует, однако, забывать, что современная методология разработки влечет за собой процесс внедрения и модернизации анализа существующих <a asp-action="Single">Читать дальше... </a></p>
        							</div><!-- End .article-content-container -->
        						</article><!-- End .article -->
        						
        						<article class="article">
        							<div class="article-meta-date">
        								<span>2</span>
        								Авг
        							</div><!-- End .article-meta-date -->
        							
        							<figure class="article-media-container">
        								<img src="~/images/blog/post4-large.jpg" alt="blog post">
        							</figure>
        							
        							<h2><a asp-action="Single">На двадцатом съезде партии прозвучало поразительное заявление: новая модель организационной деятельности оказалась чрезвычайно полезной.</a></h2>
        							
        							<div class="article-meta-container clearfix">
        								<div class="article-meta-more">
        									<a href="#"><span class="separator"><i class="fa fa-user"></i></span>От Администратор</a>
        									<a href="#"><span class="separator"><i class="fa fa-comments "></i></span>5 Комминтариев</a>
        									<a href="#"><span class="separator"><i class="fa fa-tag"></i></span>Категории</a>
        								</div><!-- End. pull-left -->
        								
        								<div class="article-meta-view">
        									<a href="#"><span class="separator"><i class="fa fa-eye "></i></span>88</a>
        									<a href="#"><span class="separator"><i class="fa fa-heart"></i></span>97</a>
        								</div><!-- End. pull-right -->
        							</div><!-- End .article-meta-container -->
        							
        							<div class="article-content-container">
        								<p>Прежде всего, современная методология разработки требует от нас анализа прогресса профессионального сообщества. С другой стороны, новая модель организационной деятельности способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Значимость этих проблем <a asp-action="Single">Читать дальше... </a></p>
        							</div><!-- End .article-content-container -->
        						</article><!-- End .article -->
        						
        						<div class="pagination-container clearfix">
        							<div class="pull-left page-count">
        								Страница 1 из 5
        							</div><!-- End .pull-left -->
        							
        							<div class="pull-right">
										<ul class="pagination">
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
        							</div><!-- End .pull-right -->
        						</div><!-- End pagination-container -->
        					</div><!-- End .col-md-9 -->
        					
        					<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
        						
        						<div class="widget category-accordion">
        							<h3>Категории</h3>
								<div class="panel-group" id="accordion">
									<div class="panel panel-custom">
										<div class="panel-heading">
										<h4 class="panel-title">
                                            Электроника
											<a data-toggle="collapse" href="#collapseOne">
												<span class="icon-box">&plus;</span>
											</a>
										</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
										<ul class="category-accordion-list">
											<li><a href="#">Ноутбуки</a></li>
											<li><a href="#">Смартфоны</a></li>
											<li><a href="#">ПК</a></li>
											<li><a href="#">Планшеты</a></li>
											<li><a href="#">Телевизоры</a></li>
											<li><a href="#">Игровые консоли</a></li>
										</ul>
										</div>
										</div>
									</div><!-- End .panel -->
								</div><!-- End .panel-group -->
        						</div><!-- End .widget -->
        						
        						<div class="widget recent-posts">
        							<h3>Недавние Посты</h3>
        							
        							<div class="recent-posts-slider flexslider sidebarslider">
                                        <ul class="recent-posts-list clearfix">
                                            <li>
                                                <a asp-action="Single">
                                                    <figure class="recent-posts-media-container">
                                                        <img src="~/images/blog/post1-small.jpg" class="img-responsive" alt="последние посты">
                                                    </figure>
                                                </a>
                                                <h4><a asp-action="Single">35%  Скидка на вторую покупку!</a></h4>
                                                <p>Мы вынуждены отталкиваться от того, что понимание сути ресурсосберегающих технологий играет важную роль в формировании первоочередных требований.</p>
                                                <div class="recent-posts-meta-container clearfix">
                                                    <div class="pull-left">
                                                        <a asp-action="Single">Читать дальше...</a>
                                                    </div><!-- End .pull-left -->
                                                    <div class="pull-right">
                                                        12.05.2022
                                                    </div><!-- End .pull-right -->
                                                </div><!-- End .recent-posts-meta-container -->
                                            </li>
                                            
                                            <li>
                                                <a asp-action="Single">
                                                    <figure class="recent-posts-media-container">
                                                        <img src="~/images/blog/post2-small.jpg" class="img-responsive" alt="lats post">
                                                    </figure>
                                                </a>
                                                <h4><a asp-action="Single">Бесплатная доставка для постоянных клиентов.</a></h4>
                                                <p>меется спорная точка зрения, гласящая примерно следующее: реплицированные с зарубежных источников, современные исследования набирают...</p>
                                                <div class="recent-posts-meta-container clearfix">
                                                    <div class="pull-left">
                                                        <a asp-action="Single">Читать дальше...</a>
                                                    </div><!-- End .pull-left -->
                                                    <div class="pull-right">
                                                        10.05.2022
                                                    </div><!-- End .pull-right -->
                                                </div><!-- End .recent-posts-meta-container -->
                                            </li>
                                            
                                            <li>
                                                <a asp-action="Single">
                                                    <figure class="recent-posts-media-container">
                                                        <img src="~/images/blog/post3-small.jpg" class="img-responsive" alt="lats post">
                                                    </figure>
                                                </a>
                                                <h4><a asp-action="Single">Новые товары на распродаже!</a></h4>
                                                <p>Таким образом, выбранный нами инновационный путь однозначно фиксирует необходимость стандартных подходов...</p>
                                                <div class="recent-posts-meta-container clearfix">
                                                    <div class="pull-left">
                                                        <a asp-action="Single">Читать дальше...</a>
                                                    </div><!-- End .pull-left -->
                                                    <div class="pull-right">
                                                        8.05.2022
                                                    </div><!-- End .pull-right -->
                                                </div><!-- End .recent-posts-meta-container -->
                                            </li>
                                            
                                        </ul>
                                    </div><!-- End .recent-posts-slider -->
        						</div><!-- End .widget -->
        						
        						<div class="widget testimonials">
        							<h3>Отзывы</h3>
        							
        							<div class="testimonials-slider flexslider sidebarslider">
                                        <ul class="testimonials-list clearfix">
                                            <li>
                                                <div class="testimonial-details">
                                                <header>Лучший Сервис!</header>
                                                В целом, конечно, внедрение современных методик способствует повышению качества инновационных методов управления процессами. 
                                                </div><!-- End .testimonial-details -->
                                                <figure class="clearfix">
                                                <img src="~/images/testimonials/anna.jpg" alt="Computer Ceo">
                                                    <figcaption>
                                                        <a href="#">Логинова Анжелика</a>
                                                        <span>12.05.2022</span>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <div class="testimonial-details">
                                                <header>Класный Стиль!</header>
                                                Кстати, базовые сценарии поведения пользователей ограничены исключительно образом мышления.
                                                </div><!-- End .testimonial-details -->
                                                <figure class="clearfix">
                                                    <img src="~/images/testimonials/jake.jpg" alt="Computer Ceo">
                                                    <figcaption>
                                                        <a href="#">Кулагин Мирослав</a>
                                                        <span>17.05.2022</span>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                        </ul>
                                    </div><!-- End .testimonials-slider -->
        						</div><!-- End .widget -->
        						
        						<div class="widget tags">
        							<h3>Облако тегов</h3>
        							<ul class="tags-list">
        								<li><a href="#">Категории</a></li>
        								<li><a href="#">Ноутбуки</a></li>
										<li><a href="#">Смартфоны</a></li>
										<li><a href="#">ПК</a></li>
										<li><a href="#">Планшеты</a></li>
										<li><a href="#">Телевизоры</a></li>
										<li><a href="#">Игровые консоли</a></li>
                                        <li><a href="#">Бытовая техника</a></li>
        							</ul>
        						</div><!-- End .widget -->
        						
        						<div class="widget flickr-feed">
        							<h3>Flickr</h3>
        							<ul class="flickr-feed-list clearfix">

        							</ul>
        						</div><!-- End .widget -->
        					</aside><!-- End .col-md-3 -->
        				
        					
        				</div><!-- End .row -->
        				
        			</div><!-- End .col-md-12 -->
        		</div><!-- End .row -->
			</div><!-- End .container -->
        
        </section><!-- End #content -->