
@{
    ViewData["Title"] = "Category";
}
 <section id="content">
        	<div id="category-header">
        		<div class="row">
        			<div class="container">
						<div class="col-2">
							<div class="category-image">
								<img src="~/images/products/category-show.png" alt="Phone" class="img-responsive">
							</div><!-- End .category-image -->
							
						</div><!-- End .col-2 -->
						
						<div class="col-2 last">
							<div class="category-title">
								<h2>Смартфоны</h2>
								<p>Идейные соображения высшего порядка, а также понимание сути ресурсосберегающих технологий является качественно новой ступенью экономической целесообразности принимаемых решений...</p>
								<a href="#" class="btn btn-custom">УЧИТЬ БОЛЬШЕ</a>
							</div><!-- End .category-title -->
						</div><!-- End .col-2 -->
    			</div><!-- End .container -->
        		</div><!-- End .row -->
        	</div><!-- End #category-header -->
        	<div id="category-breadcrumb">
        		<div class="container">
					<ul class="breadcrumb">
						<li><a asp-action="Index">Главная</a></li>
						<li><a href="#">Электроника</a></li>
						<li class="active">Смартфоны</li>
					</ul>
        		</div>
        	</div>
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
        				
        				<div class="row">
        					
        					<div class="col-md-9 col-sm-8 col-xs-12 main-content">
        						
        						<div class="category-toolbar clearfix">
									<div class="toolbox-filter clearfix">
									
										<div class="sort-box">
											<span class="separator">Сортировать по:</span>
											<div class="btn-group select-dropdown">
												<button type="button" class="btn select-btn">Позиция</button>
												<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
													<i class="fa fa-angle-down"></i>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li><a href="#">Дата</a></li>
													<li><a href="#">Название</a></li>
												</ul>
											</div>
										</div>
										
										<div class="view-box">
											<a asp-action="Category" class="active icon-button icon-grid"><i class="fa fa-th-large"></i></a>
											<a asp-action="Categorylist" class="icon-button icon-list"><i class="fa fa-th-list"></i></a>
										</div><!-- End .view-box -->
										
									</div><!-- End .toolbox-filter -->
									<div class="toolbox-pagination clearfix">
										<ul class="pagination">
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
										<div class="view-count-box">
											<span class="separator">Отображать:</span>
											<div class="btn-group select-dropdown">
												<button type="button" class="btn select-btn">10</button>
												<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
													<i class="fa fa-angle-down"></i>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li><a href="#">15</a></li>
													<li><a href="#">30</a></li>
												</ul>
											</div>
										</div><!-- End .view-count-box -->
										
									</div><!-- End .toolbox-pagination -->
        							
        							
        						</div><!-- End .category-toolbar -->
        						<div class="md-margin"></div><!-- .space -->
        						<div class="category-item-container">
        						<div class="row">
        							<div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item2.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item2-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">₽210<span class="sub-price">.99</span></span>
                                                    <span class="item-price">₽160<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                                <span class="new-rect">Новинка</span>
                                                <span class="discount-rect">-15%</span>
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="80"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                        5 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item1.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item1-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">₽199</span>
                                                </div><!-- End .item-price-container -->
                                                <span class="new-rect">Новинка</span>
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="74"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                        9 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item4.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item4-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">₽120<span class="sub-price">.99</span></span>
                                                    <span class="item-price">₽99<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                                <span class="discount-rect">-25%</span>
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="90"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                        4 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item10.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item10-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">₽180<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">

                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item6.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item6-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">₽99<span class="sub-price">.99</span></span>
                                                    <span class="item-price">₽84<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                                <span class="discount-rect">-20%</span>
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="70"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                       6 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item9.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item9-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">₽49<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                                <span class="new-rect">Новинка</span>
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="60"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                        2 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item2.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item2-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">₽160<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                                <span class="new-rect">Новинка</span>
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="80"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                        5 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item3.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item3-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">₽200</span>
                                                </div><!-- End .item-price-container -->
                                                <span class="discount-rect">-10%</span>
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="74"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                        9 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item5.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item5-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">₽120<span class="sub-price">.99</span></span>
                                                    <span class="item-price">₽99<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                                <span class="new-rect">Новинка</span>
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="96"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                        5 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item3.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item3-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">₽99<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">

                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item7.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item7-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">₽99<span class="sub-price">.99</span></span>
                                                    <span class="item-price">₽84<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                                <span class="discount-rect">-30%</span>
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="70"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                       6 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a asp-action="Product">
                                                        <img src="~/images/products/item5.jpg" alt="item1" class="item-image">
                                                        <img src="~/images/products/item5-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                    </a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">₽49<span class="sub-price">.99</span></span>
                                                </div><!-- End .item-price-container -->
                                            </div><!-- End .item-image-wrapper -->
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="60"></div>
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-amount">
                                                        2 Отзыв(а/ов)
                                                    </span>
                                                </div><!-- End .rating-container -->
                                                <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn">
                                                        <span class="icon-cart-text">Добавить в корзину</span>
                                                    </a>
                                                    <div class="item-action-inner">
                                                        <a href="#" class="icon-button icon-like">Избранное</a>
                                                        <a href="#" class="icon-button icon-compare">Проверка</a>
                                                    </div><!-- End .item-action-inner -->
                                                </div><!-- End .item-action -->
                                            </div><!-- End .item-meta-container --> 
                                        </div><!-- End .item -->
                                    </div><!-- End .col-md-4 -->
        						</div><!-- End .row -->
        						</div><!-- End .category-item-container -->
        						
        						<div class="pagination-container clearfix">
        							<div class="pull-right">
										<ul class="pagination">
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
											</ul>
        							</div><!-- End .pull-right -->
        							
        							<div class="pull-right view-count-box hidden-xs">
										<span class="separator">Отображать:</span>
										<div class="btn-group select-dropdown">
											<button type="button" class="btn select-btn">10</button>
											<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
												<i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="#">15</a></li>
												<li><a href="#">30</a></li>
											</ul>
										</div>
									</div>
        						</div><!-- End pagination-container -->
							
        						
        					</div><!-- End .col-md-9 -->
        					
        					<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
        						<div class="widget">
        							<div class="panel-group custom-accordion sm-accordion" id="category-filter">
										<div class="panel">
											<div class="accordion-header">
												<div class="accordion-title"><span>Категории</span></div><!-- End .accordion-title -->
									<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-1"></a>
											</div><!-- End .accordion-header -->
								
										<div id="category-list-1" class="collapse in">
											<div class="panel-body">
												<ul class="category-filter-list jscrollpane">
													<li><a href="#">Ноутбуки (2)</a></li>
													<li><a href="#">Смартфоны (2)</a></li>
													<li><a href="#">ПК (1)</a></li>
													<li><a href="#">Планшеты (0)</a></li>
													<li><a href="#">Телевизоры (0)</a></li>
													<li><a href="#">Игровые консоли (1)</a></li>
                                                    <li><a href="#">Бытовая техника (0)</a></li>
												</ul>
											</div><!-- End .panel-body -->
										</div><!-- #collapse -->
										</div><!-- End .panel -->
        								
        								<div class="panel">
											<div class="accordion-header">
												<div class="accordion-title"><span>Бренды</span></div><!-- End .accordion-title -->
									<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-2"></a>
											</div><!-- End .accordion-header -->
								
										<div id="category-list-2" class="collapse in">
											<div class="panel-body">
											<ul class="category-filter-list jscrollpane">
												<li><a href="#">Samsung (1)</a></li>
												<li><a href="#">Xiaomi (1)</a></li>
												<li><a href="#">Apple (1)</a></li>
												<li><a href="#">Sony (0)</a></li>
												<li><a href="#">Google (0)</a></li>
                                                <li><a href="#">Huawei (0)</a></li>
												<li><a href="#">ZTE (0)</a></li>
												<li><a href="#">Nokia (0)</a></li>
												<li><a href="#">Kingston (0)</a></li>
												<li><a href="#">ASUS (0)</a></li>
                                                <li><a href="#">DIGMA (0)</a></li>
												<li><a href="#">RAZER (0)</a></li>
												<li><a href="#">Acer (1)</a></li>
												<li><a href="#">Microsoft (1)</a></li>
												<li><a href="#">PowerColor (1)</a></li>
											</ul>
											</div><!-- End .panel-body -->
										</div><!-- #collapse -->
										</div><!-- End .panel -->
        							
        							<div class="panel">
											<div class="accordion-header">
												<div class="accordion-title"><span>Стоимость</span></div><!-- End .accordion-title -->
									<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-3"></a>
											</div><!-- End .accordion-header -->
								
										<div id="category-list-3" class="collapse in">
											<div class="panel-body">
												<div id="price-range">
													
												</div><!-- End #price-range -->
												<div id="price-range-details">
													<span class="sm-separator">От</span>
													<input type="text" id="price-range-low" class="separator">
													<span class="sm-separator">До</span>
													<input type="text" id="price-range-high">
												</div>
												<div id="price-range-btns">
													<a href="#" class="btn btn-custom-2 btn-sm">Ок</a>
													<a href="#" class="btn btn-custom-2 btn-sm">Очистить</a>
												</div>
												
											</div><!-- End .panel-body -->
										</div><!-- #collapse -->
										</div><!-- End .panel -->
        							
        							<div class="panel">
											<div class="accordion-header">
												<div class="accordion-title"><span>Цвет</span></div><!-- End .accordion-title -->
									<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-4"></a>
											</div><!-- End .accordion-header -->
								
										<div id="category-list-4" class="collapse in">
											<div class="panel-body">
											<ul class="filter-color-list clearfix">
												<li><a href="#" data-bgcolor="#fff" class="filter-color-box"></a></li>
												<li><a href="#" data-bgcolor="#ffff33" class="filter-color-box"></a></li>
												<li><a href="#" data-bgcolor="#ff9900" class="filter-color-box"></a></li>
												<li class="last-md"><a href="#" data-bgcolor="#ff9999" class="filter-color-box"></a></li>
                                                <li class="last-lg"><a href="#" data-bgcolor="#99cc33" class="filter-color-box"></a></li>
                                                <li><a href="#" data-bgcolor="#339933" class="filter-color-box"></a></li>
                                                <li><a href="#" data-bgcolor="#ff0000" class="filter-color-box"></a></li>
                                                <li class="last-md"><a href="#" data-bgcolor="#ff3366" class="filter-color-box"></a></li>
                                                <li><a href="#" data-bgcolor="#cc33ff" class="filter-color-box"></a></li>
                                                <li class="last-lg"><a href="#" data-bgcolor="#9966cc" class="filter-color-box"></a></li>
                                                <li><a href="#" data-bgcolor="#99ccff" class="filter-color-box"></a></li>
                                                <li  class="last-md"><a href="#" data-bgcolor="#3333cc" class="filter-color-box"></a></li>
                                                <li><a href="#" data-bgcolor="#999999" class="filter-color-box"></a></li>
                                                <li><a href="#" data-bgcolor="#663300" class="filter-color-box"></a></li>
                                                <li class="last-lg"><a href="#" data-bgcolor="#000" class="filter-color-box"></a></li>
											</ul>
											</div><!-- End .panel-body -->
										</div><!-- #collapse -->
										</div><!-- End .panel -->
        							</div><!-- .panel-group -->
        						</div><!-- End .widget -->
        						
        						<div class="widget featured">
        							<h3>Похожие</h3>
        							
        							<div class="featured-slider flexslider sidebarslider">
        								<ul class="featured-list clearfix">
        									<li>
        										<div class="featured-product clearfix">
        											<figure>
        												<img src="~/images/products/thumbnails/item5.jpg" alt="item5">
        											</figure>
        											<h5><a href="#">Блок питания AeroCool VX PLUS 500W</a></h5>
        											<div class="ratings-container">
														<div class="ratings">
															<div class="ratings-result" data-result="84"></div>
														</div><!-- End .ratings -->
													</div><!-- End .rating-container -->
        											<div class="featured-price">₽1999</div><!-- End .featured-price -->
        										</div><!-- End .featured-product -->
        										
        										<div class="featured-product clearfix">
        											<figure>
        												<img src="~/images/products/thumbnails/item1.jpg" alt="item1">
        											</figure>
        											<h5><a href="#">Кулер для процессора DEEPCOOL GAMMAXX 300</a></h5>
        											<div class="ratings-container">
														<div class="ratings">
															<div class="ratings-result" data-result="84"></div>
														</div><!-- End .ratings -->
													</div><!-- End .rating-container -->
        											<div class="featured-price">₽1399</div><!-- End .featured-price -->
        										</div><!-- End .featured-product -->
        										
        										<div class="featured-product clearfix">
        											<figure>
        												<img src="~/images/products/thumbnails/item2.jpg" alt="item2">
        											</figure>
        											<h5><a href="#">Материнская плата GIGABYTE H410M H V3</a></h5>
        											<div class="ratings-container">
														<div class="ratings">
															<div class="ratings-result" data-result="84"></div>
														</div><!-- End .ratings -->
													</div><!-- End .rating-container -->
        											<div class="featured-price">₽4699</div><!-- End .featured-price -->
        										</div><!-- End .featured-product -->
        									</li>
        									<li>
        										<div class="featured-product clearfix">
        											<figure>
                                                        <img src="~/images/products/thumbnails/item3.jpg" alt="item3">
                                                    </figure>
        											<h5><a href="#">Швейцарский мобильный телефон</a></h5>
        											<div class="ratings-container">
														<div class="ratings">
															<div class="ratings-result" data-result="64"></div>
														</div><!-- End .ratings -->
													</div><!-- End .rating-container -->
        											<div class="featured-price">₽39</div><!-- End .featured-price -->
        										</div><!-- End .featured-product -->
        										
        										<div class="featured-product clearfix">
        											<figure>
        												<img src="~/images/products/thumbnails/item4.jpg" alt="item4">
        											</figure>
        											<h5><a href="#">Наушники Zwinzed</a></h5>
        											<div class="ratings-container">
														<div class="ratings">
															<div class="ratings-result" data-result="94"></div>
														</div><!-- End .ratings -->
													</div><!-- End .rating-container -->
        											<div class="featured-price">₽18.99</div><!-- End .featured-price -->
        										</div><!-- End .featured-product -->
        										
        										<div class="featured-product clearfix">
        											<figure>
        												<img src="~/images/products/thumbnails/item7.jpg" alt="item7">
        											</figure>
        											<h5><a href="#">1 ТБ Жесткий диск Seagate BarraCuda</a></h5>
        											<div class="ratings-container">
														<div class="ratings">
															<div class="ratings-result" data-result="74"></div>
														</div><!-- End .ratings -->
													</div><!-- End .rating-container -->
        											<div class="featured-price">₽4199</div><!-- End .featured-price -->
        										</div><!-- End .featured-product -->
        									</li>
        									<li>
        										
        										<div class="featured-product clearfix">
        											<figure>
                                                        <img src="~/images/products/thumbnails/item4.jpg" alt="item4">
                                                    </figure>
        											<h5><a href="#">Кулер для процессора DEEPCOOL GAMMAXX 400 V2</a></h5>
        											<div class="ratings-container">
														<div class="ratings">
															<div class="ratings-result" data-result="84"></div>
														</div><!-- End .ratings -->
													</div><!-- End .rating-container -->
        											<div class="featured-price">₽1799</div><!-- End .featured-price -->
        										</div><!-- End .featured-product -->
        										
        										<div class="featured-product clearfix">
        											<figure>
        												<img src="~/images/products/thumbnails/item6.jpg" alt="item6">
        											</figure>
        											<h5><a href="#">Материнская плата GIGABYTE H410M S2 V3</a></h5>
        											<div class="ratings-container">
														<div class="ratings">
															<div class="ratings-result" data-result="84"></div>
														</div><!-- End .ratings -->
													</div><!-- End .rating-container -->
        											<div class="featured-price">₽4499</div><!-- End .featured-price -->
        										</div><!-- End .featured-product -->
        									</li>
        								</ul>
        							</div><!-- End .featured-slider -->
        						</div><!-- End .widget -->
        						
        						<div class="widget banner-slider-container">
        							<div class="banner-slider flexslider">
        								<ul class="banner-slider-list clearfix">
        									<li><a href="#"><img src="~/images/banner1.jpg" alt="Баннер 1"></a></li>
        									<li><a href="#"><img src="~/images/banner2.jpg" alt="Баннер 2"></a></li>
        									<li><a href="#"><img src="~/images/banner3.jpg" alt="Баннер 3"></a></li>
        								</ul>
        							</div>
        						</div><!-- End .widget -->
        						
        					</aside><!-- End .col-md-3 -->
        				</div><!-- End .row -->
        				
        				
        			</div><!-- End .col-md-12 -->
        		</div><!-- End .row -->
			</div><!-- End .container -->
        
        </section><!-- End #content -->