
@{
    ViewData["Title"] = "Compareproducts";
}
<section id="content">
        	<div id="breadcrumb-container">
        		<div class="container">
					<ul class="breadcrumb">
						<li><a asp-action="Index">Главная</a></li>
						<li class="active">Сравнение продуктов</li>
					</ul>
        		</div>
        	</div>
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
						<header class="content-title">
							<h1 class="title">Сравнение продуктов</h1>
							<p class="title-desc">Если после сравнения продуктов вам трудно выбрать, вы можете написать в нашу службу поддержки.</p>
						</header>
        				<div class="xs-margin"></div>
        				<div class="row">
        					
        					<div class="col-md-12 table-responsive">
								
        						<table class="table table-striped compare-item-table">
								<tr>
									<td class="table-title">НАИМЕНОВАНИЕ ТОВАРА</td>
									<td>
									<figure>
										<a href="#"><img src="~/images/products/compare1.jpg" alt="PowerColor AMD Radeon 550 LP"></a>
									</figure>
									<p class="item-name"><a href="#">PowerColor AMD Radeon 550 LP</a></p>
									</td>
									<td>
									<figure>
										<a href="#"><img src="~/images/products/compare2.jpg" alt="Samsung Galaxy Ace"></a>
									</figure>
									<p class="item-name"><a href="#">Samsung Galaxy Ace</a></p>
									</td>
									<td>
									<figure>
										<a href="#"><img src="~/images/products/compare3.jpg" alt="Чехол для Iphone"></a>
									</figure>
									<p class="item-name"><a href="#">Чехол для Iphone</a></p>
									</td>
								</tr>
								<tr>
									<td class="table-title">ЦЕНА</td>
									<td><span class="item-price-special">₽10299</span></td>
									<td><span class="item-price-special">₽1475</span></td>
									<td><span class="item-price-special">₽399</span></td>
								</tr>
								<tr class="item-brand-col">
									<td class="table-title">БРЕНДЫ</td>
									<td>POWERCOLOR</td>
									<td>SAMSUNG</td>
									<td>APPLE</td>
								</tr>
								<tr>
									<td class="table-title">ДОСТУПНОСТЬ</td>
									<td>В наличии</td>
									<td>Распродано</td>
									<td>В наличии</td>
								</tr>
							 	 <tr>
									<td class="table-title">Рейтинг</td>
									<td>
										<div class="ratings-container">
											<div class="ratings">
												<div class="ratings-result" data-result="90"></div>
											</div><!-- End .ratings -->
											<span class="ratings-amount">
												3 Отзыв(а/ов)
											</span>
										</div><!-- End .rating-container -->
        							</td>
									<td>
										<div class="ratings-container">
											<div class="ratings">
												<div class="ratings-result" data-result="75"></div>
											</div><!-- End .ratings -->
											<span class="ratings-amount">
												3 Отзыв(а/ов)
											</span>
										</div><!-- End .rating-container -->
        							</td>
									<td>
										<div class="ratings-container">
											<div class="ratings">
												<div class="ratings-result" data-result="54"></div>
											</div><!-- End .ratings -->
											<span class="ratings-amount">
												3 Отзыв(а/ов)
											</span>
										</div><!-- End .rating-container -->
        							</td>
								</tr>
							 	 <tr>
									<td class="table-title">Резюме</td>
									<td>Прототип - не панацея.</td>
									<td>Прототип нового сервиса - это как печальный плач оппозиции.</td>
									<td>Курс на социально-ориентированный национальный проект станет частью наших традиций. </td>
								</tr>
							  	<tr>
									<td class="table-title">Вес</td>
									<td>1.2 Кг</td>
									<td>2.1 Кг</td>
									<td>0.8 Кг</td>
								</tr>
							  	<tr>
									<td class="table-title">Размер</td>
									<td>45 см x 35 см  x 68 см</td>
									<td>21 см x 32 см  x 61 см</td>
									<td>33 см x 22 см  x 48 см</td>
								</tr>
							  <tr>
									<td class="table-title"></td>
									<td>
										<a href="#" class="btn btn-custom-2">Добавить в корзину</a>
										<div class="sm-margin"></div><!-- Space -->
										<a href="#" class="close-button"></a>
									</td>
									<td>
										<a href="#" class="btn btn-custom-2">Добавить в корзину</a>
										<div class="sm-margin"></div><!-- Space -->
										<a href="#" class="close-button"></a>
									</td>
									<td>
										<a href="#" class="btn btn-custom-2">Добавить в корзину</a>
										<div class="sm-margin"></div><!-- Space -->
										<a href="#" class="close-button"></a>
									</td>
								</tr>
							  </table>
							<div class="xlg-margin"></div><!-- Space -->
        					</div><!-- End .col-md-12 -->
        					
        				</div><!-- End .row -->
        				
        			</div><!-- End .col-md-12 -->
        		</div><!-- End .row -->
			</div><!-- End .container -->
        
        </section><!-- End #content -->