
@{
    ViewData["Title"] = "Single";
}
 <section id="content">
        	<div id="breadcrumb-container">
        		<div class="container">
					<ul class="breadcrumb">
						<li><a asp-action="Index">Главная</a></li>
						<li class="active">Сообщение блога</li>
					</ul>
        		</div>
        	</div>
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
						<header class="content-title">
							<h1 class="title">Сообщение блога</h1>
							<p class="title-desc">Страница для отдельного поста. Читать подробности поста.</p>
						</header>
        				<div class="xs-margin"></div><!-- space -->
        				<div class="row">
        					
        					<div class="col-md-9 col-sm-8 col-xs-12 articles-container single-post">
        						<article class="article">
        							<div class="article-meta-date">
        								<span>15</span>
        								Авг
        							</div><!-- End .article-meta-date -->
        							
        							<figure class="article-media-container">
        								<img src="~/images/blog/post1-large.jpg" alt="blog post">
        							</figure>
        							
        							<h2>Логотип крупнейшей компании по производству мыльных пузырей не стал ограничивающим фактором.</h2>
        							
        							<div class="article-meta-container clearfix">
        								<div class="article-meta-more">
        									<a href="#"><span class="separator"><i class="fa fa-user"></i></span>От Администратор</a>
                                            <a href="#"><span class="separator"><i class="fa fa-comments "></i></span>3 Комминтария</a>
                                            <a href="#"><span class="separator"><i class="fa fa-tag"></i></span>Категории</a>
        								</div><!-- End. pull-left -->
        								
        								<div class="article-meta-view">
        									<a href="#"><span class="separator"><i class="fa fa-eye "></i></span>151</a>
        									<a href="#"><span class="separator"><i class="fa fa-heart"></i></span>87</a>
        								</div><!-- End. pull-right -->
        							</div><!-- End .article-meta-container -->
        							
        							<div class="article-content-container">
        								<p>Являясь всего лишь частью общей картины, тщательные исследования конкурентов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
        								</p><p>Таким образом, современная методология разработки создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.</p>
        								
        								<blockquote>
        									<p>Прежде всего, новая модель организационной деятельности является качественно новой ступенью своевременного выполнения сверхзадачи.</p>
        								</blockquote>
        								<p>Господа, постоянный количественный рост и сфера нашей активности обеспечивает актуальность новых принципов формирования материально-технической и кадровой базы.</p>
        								<p>Имеется спорная точка зрения, гласящая примерно следующее: непосредственные участники технического прогресса рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
        							</div><!-- End .article-content-container -->
        							
        							<div class="article-author clearfix">
        								<figure class="article-author-image">
        									<img src="~/images/blog/author.jpg" alt="Author">
        								</figure>
        								
        								<div class="article-author-details">
        									<h4>Об авторе</h4>
        									<p>Современные технологии достигли такого уровня, что консультация с широким активом требует определения и уточнения инновационных методов управления процессами.</p>
        									<ul class="social-links clearfix">
                                                <li class="smaller-social-icons"><a href="#" class="social-icon icon-facebook-sm"></a></li>
                                                <li class="smaller-social-icons"><a href="#" class="social-icon icon-twitter-sm"></a></li>
                                                <li class="smaller-social-icons"><a href="#" class="social-icon icon-dribbble-sm"></a></li>
                                                <li class="smaller-social-icons"><a href="#" class="social-icon icon-email-sm"></a></li>
                                            </ul>
        								</div><!-- End .article-author-details -->
        							</div><!-- End .article-author -->
        							
        							<div class="comments">
        								<header class="title-bg">
        									<h3>КОММЕНТАРИИ (2)</h3>
        								</header>
        								<ul class="comments-list">
											<li>
												<div class="comment clearfix">
													<figure>
														<img src="~/images/blog/user1.jpg" alt="Comment Author">
													</figure>
													<div class="comment-details">
														<div class="comment-title">
                                                            Сплочённость команды профессионалов оказалась чрезвычайно полезной
														</div><!-- End .comment-title -->
														<div class="comment-meta-container">
															<a href="#">Алия Беляева</a>
															<span>12.07.2022</span>
															<a href="#" class="replay-button">Ответить</a>
														</div><!-- End .comment-meta-container -->
														<p>Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции не оставляет шанса для поэтапного и последовательного развития общества...</p>
													</div><!-- End .comment-details -->
												</div><!-- End .comment -->
												<ul class="children">
													<li>
														<div class="comment clearfix">
															<figure>
																<img src="~/images/blog/user2.jpg" alt="Comment Author">
															</figure>
															<div class="comment-details">
																<div class="comment-title">
                                                                    Тяжёлое машиностроение - это вам не грохот грома грядущих изменений
																</div><!-- End .comment-title -->
																<div class="comment-meta-container">
																	<a href="#">Даниил Иванов</a>
																	<span>14.07.2022</span>
																	<a href="#" class="replay-button">Ответить</a>
																</div><!-- End .comment-meta-container -->
																<p>Предварительные выводы неутешительны: новая модель организационной деятельности однозначно фиксирует необходимость форм воздействия.</p>
															</div><!-- End .comment-details -->
														</div><!-- End .comment -->
													</li>
													
												</ul>
											</li>
										</ul>
        								
        								<h4 class="sub-title">Оставьте комминтарий</h4>
        								
        								<div class="row">
        							<form action="#" id="comment-form">
        								<div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
                                                <input type="text" name="contact-name" id="contact-name" required class="form-control input-lg" placeholder="Ваше имя">
                                            </div><!-- End .input-group -->
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
                                                <input type="email" name="contact-email" id="contact-email" required class="form-control input-lg" placeholder="Ваш Email">
                                            </div><!-- End .input-group -->
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Предмет&#42;</span></span>
                                                <input type="text" name="contact-subject" id="contact-subject" required class="form-control input-lg" placeholder="Предмет">
                                            </div><!-- End .input-group -->
                                            <p class="item-desc">Ваш электронный адрес не будет опубликован. Необходимые 
                                                поля отмечены *</p>
        								</div><!-- End .col-md-6 -->
        								
        								<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="input-group textarea-container">
                                                <span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Ваш комментарий</span></span>
                                                <textarea name="contact-message" id="contact-message" class="form-control" cols="30" rows="6" placeholder="Ваше сообщение"></textarea>
                                            </div><!-- End .input-group -->
                                            <input type="submit" value="РАЗМЕСТИТЬ" class="btn btn-custom-2 md-margin">
        								</div><!-- End .col-md-6 -->
        							</form>
        						</div><!-- End .row -->
        							</div><!-- End .comments -->
        						</article><!-- End .article -->
        						
        					</div><!-- End .col-md-9 -->
        					
        					<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
                                
                                <div class="widget category-accordion">
                                    <h3>Категории</h3>
								<div class="panel-group" id="accordion">
									<div class="panel panel-custom">
										<div class="panel-heading">
										<h4 class="panel-title">
                                            Электроника
											<a data-toggle="collapse" href="#collapseOne">
												<span class="icon-box">&plus;</span>
											</a>
										</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
										<ul class="category-accordion-list">
											<li><a href="#">Ноутбуки</a></li>
											<li><a href="#">Смартфоны</a></li>
											<li><a href="#">ПК</a></li>
											<li><a href="#">Планшеты</a></li>
											<li><a href="#">Телевизоры</a></li>
											<li><a href="#">Игровые консоли</a></li>
										</ul>
										</div>
										</div>
									</div><!-- End .panel -->
								</div><!-- End .panel-group -->
        						</div><!-- End .widget -->
        						
        						<div class="widget recent-posts">
        							<h3>Недавние Посты</h3>
        							
        							<div class="recent-posts-slider flexslider sidebarslider">
                                        <ul class="recent-posts-list clearfix">
                                            <li>
                                                <a asp-action="Single">
                                                    <figure class="recent-posts-media-container">
                                                        <img src="~/images/blog/post1-small.jpg" class="img-responsive" alt="последние посты">
                                                    </figure>
                                                </a>
                                                <h4><a asp-action="Single">35%  Скидка на вторую покупку!</a></h4>
                                                <p>Мы вынуждены отталкиваться от того, что понимание сути ресурсосберегающих технологий играет важную роль в формировании первоочередных требований.</p>
                                                <div class="recent-posts-meta-container clearfix">
                                                    <div class="pull-left">
                                                        <a asp-action="Single">Читать дальше...</a>
                                                    </div><!-- End .pull-left -->
                                                    <div class="pull-right">
                                                        12.05.2022
                                                    </div><!-- End .pull-right -->
                                                </div><!-- End .recent-posts-meta-container -->
                                            </li>
                                            
                                            <li>
                                                <a asp-action="Single">
                                                    <figure class="recent-posts-media-container">
                                                        <img src="~/images/blog/post2-small.jpg" class="img-responsive" alt="lats post">
                                                    </figure>
                                                </a>
                                                <h4><a asp-action="Single">Бесплатная доставка для постоянных клиентов.</a></h4>
                                                <p>меется спорная точка зрения, гласящая примерно следующее: реплицированные с зарубежных источников, современные исследования набирают...</p>
                                                <div class="recent-posts-meta-container clearfix">
                                                    <div class="pull-left">
                                                        <a asp-action="Single">Читать дальше...</a>
                                                    </div><!-- End .pull-left -->
                                                    <div class="pull-right">
                                                        10.05.2022
                                                    </div><!-- End .pull-right -->
                                                </div><!-- End .recent-posts-meta-container -->
                                            </li>
                                            
                                            <li>
                                                <a asp-action="Single">
                                                    <figure class="recent-posts-media-container">
                                                        <img src="~/images/blog/post3-small.jpg" class="img-responsive" alt="lats post">
                                                    </figure>
                                                </a>
                                                <h4><a asp-action="Single">Новые товары на распродаже!</a></h4>
                                                <p>Таким образом, выбранный нами инновационный путь однозначно фиксирует необходимость стандартных подходов...</p>
                                                <div class="recent-posts-meta-container clearfix">
                                                    <div class="pull-left">
                                                        <a asp-action="Single">Читать дальше...</a>
                                                    </div><!-- End .pull-left -->
                                                    <div class="pull-right">
                                                        8.05.2022
                                                    </div><!-- End .pull-right -->
                                                </div><!-- End .recent-posts-meta-container -->
                                            </li>
                                            
                                        </ul>
                                    </div><!-- End .recent-posts-slider -->
        						</div><!-- End .widget -->
        						
        						<div class="widget testimonials">
        							<h3>Отзывы</h3>
        							
        							<div class="testimonials-slider flexslider sidebarslider">
                                        <ul class="testimonials-list clearfix">
                                            <li>
                                                <div class="testimonial-details">
                                                <header>Лучший Сервис!</header>
                                                В целом, конечно, внедрение современных методик способствует повышению качества инновационных методов управления процессами. 
                                                </div><!-- End .testimonial-details -->
                                                <figure class="clearfix">
                                                <img src="~/images/testimonials/anna.jpg" alt="Computer Ceo">
                                                    <figcaption>
                                                        <a href="#">Логинова Анжелика</a>
                                                        <span>12.05.2022</span>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <div class="testimonial-details">
                                                <header>Класный Стиль!</header>
                                                Кстати, базовые сценарии поведения пользователей ограничены исключительно образом мышления.
                                                </div><!-- End .testimonial-details -->
                                                <figure class="clearfix">
                                                    <img src="~/images/testimonials/jake.jpg" alt="Computer Ceo">
                                                    <figcaption>
                                                        <a href="#">Кулагин Мирослав</a>
                                                        <span>17.05.2022</span>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                        </ul>
                                    </div><!-- End .testimonials-slider -->
        						</div><!-- End .widget -->
        						
        						<div class="widget tags">
        							<h3>Облако тегов</h3>
        							<ul class="tags-list">
        								<li><a href="#">Категории</a></li>
        								<li><a href="#">Ноутбуки</a></li>
										<li><a href="#">Смартфоны</a></li>
										<li><a href="#">ПК</a></li>
										<li><a href="#">Планшеты</a></li>
										<li><a href="#">Телевизоры</a></li>
										<li><a href="#">Игровые консоли</a></li>
                                        <li><a href="#">Бытовая техника</a></li>
        							</ul>
        						</div><!-- End .widget -->
                                
                                <div class="widget flickr-feed">
                                    <h3>Flickr</h3>
                                    <ul class="flickr-feed-list clearfix">

                                    </ul>
                                </div><!-- End .widget -->
                            </aside><!-- End .col-md-3 -->
        				
        					
        				</div><!-- End .row -->
        				
        			</div><!-- End .col-md-12 -->
        		</div><!-- End .row -->
			</div><!-- End .container -->
        
        </section><!-- End #content -->